#run{
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    box-shadow: 2px 2px 5px grey;
}
#upcoming{
    text-align: center;
    background-color: lightgreen;
    padding: 20px;
    box-shadow: 2px 2px 5px grey;
}